import type { AppMetadata } from '@genesislcap/foundation-shell/app';

/**
 * @public
 */
export const metadata: AppMetadata = {
  name: '@genesislcap/pbc-documents',
  description: 'Genesis Reporting PBC',
  version: '@pbc.version@',
  prerequisites: {
    '@genesislcap/foundation-ui': '@foundationVersion@',
    gsf: '@genesisVersion@',
  },
  dependencies: {
    '@genesislcap/pbc-documents-ui': '@client.version@',
    serverDepId: '@server.version@',
  },
};
